<!--Doctype html-->
<html ng-app="myGot">

<head>
    <title>Game Of Thrones</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="mainCon as data">
    <!-- header-->

    <div class="container-fluid" style="margin-top: 70px">
        <a ng-click="data.home()"><img class="img-responsive center-block" src="images/logo1.png"></a>
    </div><br/>
    <!-- end of header-->
    <!--- nav bar-->
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="381">
        <div class="container-fluid">
            <div class="navbar-header" style="cursor: pointer">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" ng-click="data.home()">Game of Thrones</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="cursor: pointer">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="data.book()">Books</a></li>
                    <li><a ng-click="data.charac()">Characters</a></li>
                    <li><a ng-click="data.house()">Houses</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of nav--->
    <div class="container-fluid">
        <h4 class="pull-left" style="color: silver">Search By:</h4><input class="search pull-left" type="text" ng-model="data.searchText" name="search" placeholder="Name,Alias,House,Region">

        <a class="sortButton pull-right" ng-click="data.sortData('name')">Sort by Name <div ng-class="data.getSortClass('name')"></div></a>
        <!--<input class="search " type="text" ng-model="data.all" name="search" placeholder="data.searchFeild">-->
    </div>

    <!---View-->
    <hr/>
    <div class="container bookBackground">
        <div ng-repeat="got in data.info | orderBy: data.sortColumn : data.reverseSort | filter : data.searchText ">
            <div ng-if='data.bookButton'>
                <div book></div>
            </div>
            <div ng-if='data.characButton'>
                <div charac></div>
            </div>
            <div ng-if='data.houseButton'>
                <div house></div>
            </div>
        </div>
    </div>

    <div ng-view ng-if='data.view'></div>
    <!--end of view-->
    <!--footer-->
    <footer class="nb-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about">

                        <p>“Different roads sometimes lead to the same castle.”
                        </p>
                        <p>“... a mind needs books as a sword needs a whetstone, if it is to keep its edge.”
                        </p>
                        <p>“Every flight begins with a fall.”
                        </p>


                    </div>
                </div>
            </div>
        </div>

        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2017. edWisor.com</p>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </section>
    </footer>
    <!-- scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/route.js"></script>
    <script src="angular/controllers/mainCon.js"></script>
    <script src="angular/controllers/detailCon.js"></script>
    <script src="angular/directives/custom.js"></script>
    <script src="angular/services/services.js"></script>
    
</body>

</html>
