<div class="container-fluid bookBackground" >
    <div class="times" ng-repeat="data in bCon.bookDetails">
        <h1>{{data.name}}</h1>
        <hr/>
        <h4><strong>Author</strong> : {{ bookCtrl.author }}</h4>
        <h4><strong>Country</strong> : {{ data.country }}</h4>
        <h4><strong>Pages</strong> : {{ data.numberOfPages }}</h4>
        <h4><strong>Publisher</strong> : {{ data.publisher }}</h4>
        <h4><strong>Released on</strong> : {{ data.released | date }}</h4>
        <div ng-if = 'data.povCharacters.length >= 1'> POV Characters
            <div ng-repeat="pov in data.povCharacters">
                <h6><a ng-href='#/characters/{{ pov.split("/").pop() }}'>{{ pov }}</a></h6>
            </div>
        </div>
    </div>
</div>
