<div class="container-fluid characBackground">
    <div class="col-sm-12 col-md-12">
        <br/><br/><br/>
        <div class="times" ng-repeat="data in cCon.characDetails">
            <h1 ng-if='data.name'>
                {{ data.name }}
            </h1><br/>
            <h4 ng-if='data.aliases[0]'><strong>Known as</strong> : "{{ data.aliases[0] }}"</h4>
            <h4 ng-if='data.gender'>Gender : {{ data.gender }}</h4>
            <h4 ng-if='data.born'> Born : {{ data.born }}</h4>
            <h4 ng-if='data.culture'>Culture : {{ data.culture }}</h4>
            <h4 ng-if='data.died'>Died : {{ data.died }}</h4>
            <h4 ng-if='data.father'>Father :
                <h6><a ng-href='#/characters/{{ data.father.split("/").pop() }}'>{{ data.father }}</a></h6>
            </h4>
            <h4 ng-if='data.mother'> Mother :
                <h6><a ng-href='#/characters/{{ data.mother.split("/").pop() }}'>{{ data.mother }}</a></h6>
            </h4>
            <h4 ng-if='data.spouse'>
                Spouse :
                <h6><a ng-href='#/characters/{{ data.spouse.split("/").pop() }}'>{{ data.spouse}}</a></h6>
            </h4>
            <h4 ng-if='data.playedBy[0]'>Played by : "{{ data.playedBy[0] }}"</h4>
            <h4 ng-if='data.titles[0]'>Title : "{{ data.titles[0]}}"</h4>
            <h4 ng-if='cCon.seasons'>Appeared in : "{{ cCon.seasons }}"</h4>
        </div>
    </div>
</div>
